.bg-scenic {
  background-image: url(/assets/img/unsplash-4.jpg);
  background-size: cover;
  background-position: center;
}

.connector {
  padding-top: 17rem;
}

a:not(.btn) {
  text-decoration: underline;
}
